.experience {
  &__item {
    & + .experience__item {
      margin-top: 30px
    }

    @media (min-width: 768px), print {
      display: flex;
    }
  }

  &__duration,
  &__position,
  &__company {
    display: flex;
  }

  &__column {
    @media (min-width: 768px) and (max-width: 1023px), print {
      width: 50%;
    }

    @media screen and (min-width: 1024px) {
      &_left {
        flex: 0 0 40%;
      }

      &_right {
        flex: 1;
      }
    }
  }

  &__description {
    .experience__value {
      margin: 0;

      @media screen and (max-width: 767px) {
        margin-top: 10px
      }
    }
  }

  &__label {
    flex: 0 0 110px;
    color: #7f8c8d
  }
}

@media (min-width: 768px), print {
  .experience__item {
    margin-top: 20px
  }
}

@media print {
  .experience__item, .experience__item + .experience__item {
    margin-top: 10px;
  }
}
