.main-info {
  @media screen and (max-width: 767px) {
    margin-top: 10px;
    font-size: 15px
  }

  @media (min-width: 768px), print {
    margin-top: 50px;
  }

  @media print {
    font-size: 13px;
    margin-top: 0;
  }

  &__details {
    display: flex;
  }

  &__list {
    margin: 20px 0 0;
  }

  &__item {
    display: flex;
  }

  &__label {
    color: #7f8c8d;
    flex-basis: 110px;
  }

  &__value {
    margin: 0
  }

  &__title {
    margin: 0;

    @media screen and (min-width: 1024px) {
      font-size: 40px
    }
  }

  &__subtitle {
    margin: 0
  }

  &__links {
    display: flex;
    flex-wrap: wrap;

    @media print {
      display: none
    }
  }

  &__link {
    margin: 15px 15px 0 0;
  }

  &__link-icon {
    display: inline-block;
    color: #262626;
    font-size: 32px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
  }

  &__link-text {
    line-height: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }
}
