mainFont = 'Roboto', sans-serif

desktopWidth = 1024px
tabletWidth = 768px
phoneWidth = 320px

// lg = "(min-width: " + (lgWidth) + ")"
// md = "(min-width: " + mdWidth + ") and (max-width: " + (lgWidth - 1) + ")"
// sm = "(min-width: " + smWidth + ") and (max-width: " + (mdWidth - 1) + ")"
desktop = "screen and (min-width: " + desktopWidth + ")"

tablet = "(min-width: " + tabletWidth + ") and (max-width: " + (desktopWidth - 1) + "), print"
phone = "screen and (max-width: " + (tabletWidth - 1) + ")"

tablet_desktop = "(min-width: " + tabletWidth + "), print"
phone_tablet = "(max-width: " + (desktopWidth - 1) + ")"
