iconSize = 32px
.sources
	background-color red
	&__link
		display: block
		& + .sources__link
			margin-top 10px
	&__icon
		display: inline-block
		vertical-align middle
		color #262626
		font-size iconSize
		width iconSize
		text-align: center
		background-color #fff
		margin-right .2em
	&__title
		display: inline-block
		vertical-align: middle