.main-info
	padding-top 50px
	clearfix()
	&__column
		float left
		width 50%
	&__photo
		width 100%
		max-width 200px
		float right
	&__label
		color #7f8c8d
		display inline-block
	&__value
		display: inline-block
		margin: 0
	&__title
		margin: 0
		@media desktop
			font-size 40px
	&__subtitle
		margin 10px 0