.main-info
	@media tablet_desktop
		margin-top 50px
		clearfix()
	@media phone
		margin-top 10px
		font-size 15px
	&__column
		@media tablet_desktop
			float left
			width 50%
	&__photo
		width 250px
		&-container
			@media tablet_desktop
				text-align right
			@media phone
				text-align: center
	&__label
		color #7f8c8d
		display inline-block
	&__value
		display: inline-block
		margin: 0
	&__title
		margin: 0
		@media desktop
			font-size 40px
	&__subtitle
		margin 0