.main-info
	@media tablet_desktop
		margin-top 50px
		clearfix()
	@media phone
		margin-top 10px
		font-size 15px
	@media print
		font-size 13px
		margin-top 0
	&__column
		@media tablet_desktop
			float left
			width 50%
	&__photo
		width 200px
		@media print
			width 170px
		&-container
			text-align right
			@media phone
				text-align: center
			@media print
				text-align: right
	&__label
		color #7f8c8d
		display inline-block
		width 110px
	&__value
		display: inline-block
		margin: 0
	&__title
		margin: 0
		@media desktop
			font-size 40px
	&__subtitle
		margin 0