.project
	padding 0 10px
	&__name
		font-size 24px
		margin 0
	&__tags
		margin 10px 0
	&__tags-label
		color #7f8c8d
		display: inline-block
		font-size 14px
	&__tag
		display: inline-block
		background-color #f1c40f
		padding 5px 10px
		margin 3px 2px
		line-height 1.1
		border-radius 50px
		font-size 14px
		color #2c3e50