{% assign mainInfo = site.data.main_info %}

<div class="main-info">
    <h1 class="main-info__title" itemprop="name">{{ mainInfo.name }}</h1>

    <h2 class="main-info__subtitle" itemprop="jobTitle">
        {{ mainInfo.position }}
        <span class="main-info__emoji">👨‍💻</span>
    </h2>

    <dl class="main-info__list">
        {% for item in {{mainInfo.items}} %}
        <div class="main-info__item">
            <dt class="main-info__label">{{ item.key }}:</dt>
            <dd class="main-info__value">{{ item.value }}</dd>
        </div>
        {% endfor %}
    </dl>

    <div class="main-info__links">
        {% for link in {{site.data.links}} %}
        <a href="{{ link.url }}"
           itemprop="url"
           class="main-info__link"
           target="{{ link.target }}">
            <span class="main-info__link-icon icon-{{ link.icon }}"></span>
            <span class="main-info__link-text">{{ link.title }}</span>
        </a>
        {% endfor %}
    </div>
</div>
