<p class="projects__disclaimer">Some of projects which I participated and which are available in the web:</p>

<div class="projects">
    {% for project in site.data.projects %}
    <article class="project">
        <h1 class="project__name">
            <a href="//{{ project.url }}"
               title="{{ project.url }}"
               target="_blank"
               class="project__link">{{ project.name }}</a>
        </h1>

        <p class="project__description">{{ project.description }}</p>
    </article>
    {% endfor %}
</div>
