* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.44;
  color: #262626;
}

@media print {
  body {
    font-size: 13px
  }
}

h1, .h1 {
  margin: .4em 0 .1em;
}

a {
  color: #55acee;
  text-decoration: none;
  transition: color 0.15s;
}

a:hover, a:focus {
  color: #006daa;
}

@media print {
  a {
    color: inherit;
  }
}

a[href^="//"],
a[href^="http"] {
  &:after {
    content: "\e900";
    position: relative;
    font-size: .5em;
    top: -.6em;
    left: .5em;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
}

@media print {
  a[href*="//"]:after {
    content: '';
  }
}

@media print {
  h1, .h1 {
    font-size: 25px;
  }

  h2, .h2 {
    font-size: 20px;
  }
}

.visible-print {
  display: none;
}

@media print {
  .visible-print {
    display: block;
  }
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 884px
  }
}

@media (min-width: 768px) and (max-width: 1023px), print {
  .container {
    width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin: 0 10px;
  }
}

@media (min-width: 768px), print {
  .separator {
    margin-top: 30px;
  }
}

@media print {
  .separator {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .hidden-phone {
    display: none;
  }
}
