.experience
	&__item
		clearfix()
		@media tablet_desktop
			margin-top 30px
		@media phone
			margin-top 10px
		@media print
			margin-top 0
		& + .experience__item
			@media tablet_desktop
				margin-top 50px
			@media phone
				margin-top 20px
			@media print
				margin-top 10px
	&__label
		display: inline-block
		width 110px
		color #7f8c8d

	&__description
		.experience
			&__value
				margin 0
				@media print
					margin 0
				@media phone
					margin-top 10px
	&__column
		@media tablet_desktop
			float left
		@media desktop
			&_left
				width 40%
			&_right
				width 60%	
		@media tablet
			width 50%
			