.experience
	&__item
		clearfix()
		margin-top 30px
		& + .experience__item
			margin-top 50px
	&__label
		display: inline-block
		width 110px
		color #7f8c8d
	&__description
		.experience
			&__value
				margin 0
	&__column
		float left
		&_left
			width 40%
		&_right
			width 60%
			