.programming-skills
	&__title
		margin 0
	&__item
		@media tablet_desktop
			margin 5px 0
		@media phone
			margin 10px 0
	&__list
		margin 0
		padding 0
		list-style none
	&__sub-title
		color #7f8c8d
		@media tablet_desktop
			width 250px
			display: inline-block
	&__value
		display: inline-block
		margin: 0
		font-weight: normal
	&__type
		margin-bottom 20px