if programmingSkills
	each type in programmingSkills
		.programming-skills__type
			h2.programming-skills__title!= type.typeName
			if type.withSubitems
				dl.programming-skills__list
					each subtype in type.values
						.programming-skills__item
							dt.programming-skills__sub-title #{subtype.typeName}:
							each value, i in subtype.values
								- var lastItem = i === subtype.values.length - 1
								dd.programming-skills__value
									!= value
									unless lastItem
										| ,

			else
				ul.programming-skills__list
					each item, i in type.values
						- var lastItem = i === type.values.length - 1
						li.programming-skills__value
							!= item
							unless lastItem
									| ,
