if projects
	each item in projects
		article.project
			h1.project__name
				a.project__link(href="//#{item.url}" title=item.name target="_blank")!= item.name
			if item.tags
				dl.project__tags
					dt.project__tags-label Tags:
					each tag in item.tags
						dt.project__tag!= tag
			if item.responsibilities
				p.project__desription!= item.responsibilities
