.languages
	&__item
		clearfix()
	&__key
		float left
		width 110px
		color #7f8c8d
	&__description
		@media tablet_desktop
			color #7f8c8d
		@media phone
			display none
	&__value
		margin 0
		float left
		@media desktop
			width 774px
		@media tablet
			width 598px
			