.languages
	&__item
		clearfix()
	&__key
		color #7f8c8d
		@media tablet_desktop
			float left
			width 15%
		@media phone
			display: inline-block
			width 110px
	&__description
		@media tablet_desktop
			color #7f8c8d
		@media phone
			display none
	&__value
		margin 0
		@media tablet_desktop
			float left
			width 85%
		@media phone
			display: inline-block
			