.languages
	&__item
		clearfix()
	&__key
		display: block
		vertical-align top
		float left
		color #7f8c8d
		width 15%
	&__description
		font-style: 13px
		font-style italic
	&__value
		display: block
		vertical-align top
		float left
		margin 0
		width 85%
		