* 
	box-sizing border-box
	
body
	font-family: mainFont
	line-height: 1.44
	//font-weight 300

h1, .h1
	margin .4em 0 .1em
a
	color: #2980b9
	text-decoration: none
	transition color .15s
	&:hover
		color: #9b59b6
