@import url(https://fonts.googleapis.com/css?family=Roboto:400,700)

* 
	box-sizing border-box
	
body
	font-family: mainFont
	line-height: 1.44
	color #262626
	@media print
		font-size 13px

h1, .h1
	margin .4em 0 .1em
a
	color: #55acee
	text-decoration: none
	transition color .15s
	&:hover
	&:focus
		color: #006daa
	@media print
		color inherit
	
	&[href*="//"]
		&:after
			content "\e60b"
			position: relative
			font-size .8em
			top -0.3em
			left 0.2em
			iconParams()
		@media print
			&:after
				content ''

@media print
	h1, .h1
		font-size 25px
		margin 0
	h2, .h2
		font-size 20px