gutterDesktop = 70px
gutterTablet = 30px
gutterPhone = 10px 
.container
	margin 0 auto
	@media desktop
		width ( desktopWidth - gutterDesktop * 2 )
	@media tablet
		width ( tabletWidth - gutterTablet * 2 )
	@media phone
		margin 0 gutterPhone

.separator
	@media tablet_desktop
		margin-top 30px
	@media print
		margin-top 5px

.hidden-phone
	@media phone
		display: none