doctype html
html
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport")
		meta(name="format-detection", content="telephone=no")
		title
			block title
		block fonts
			link(href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css')
		block styles
			link(href="assets/project.css" rel="stylesheet")
	body
		block root
			!= content

		block scripts
			script(src="assets/project.js")